#map {
    margin-left: auto;
    margin-right: auto;
	/* width: 800px; */
	/* width: 100%; */
    /* height: 100%; */

    position: absolute;
    top: 105px;
    left: 0;
    bottom: 35px;
    right: 0;
    /* height: 550px; */
    z-index: -1;
}

#description {
    max-width: 800px;
    background-color: white;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    /* border: 1.5px solid black; */
}
#description #slogan {
    text-align: center;
}
#description a {
    color: #efb639;
    text-decoration: none;
}

hr {
    color: #efb639;
    border-width: 1.5px;
    border-style: solid;
}
