.menu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 800px;
    padding-bottom: 20px;
}

.menu img {
    width: 930px;
    height: 380px;
    margin: 0px -130px 0px -130px;
    object-fit: cover;
    /* border: 1px solid grey; */
}

.menu #menu-emporium2 {
    margin-top: -5px;
    /* padding-bottom: 50px; */
}
.menu #menu-westfield2 {
    margin-top: -5px;
    padding-bottom: 50px;
}

.title {
    padding-top: 6px;
    padding-left: 6px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    /* color: white; */
    /* text-decoration: underline; */
}

hr {
    /* color: white; */
    color: #efb639;
    border-width: 1.5px;
    border-style: solid;
}
