menu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

.menu .wrapper {
    width: 658px;
    height: 325px;
    overflow: hidden;
    background: black;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.menu img {
    width: 768px;
    height: 432px;
    clip-path: inset(55px 55px 55px 55px);
    margin: -55px -60px -60px -55px;
    margin-bottom: 0px;
    padding-bottom: 0px
}

#menu-emporium {
}
#menu-westfield {
    padding-bottom: 70px;
}

#title0 {
    background: white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    padding-top: 6px;
    padding-left: 6px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
}
#title1, #title2 {
    background: white;
    max-width: 800px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    padding-top: 15px;
    padding-left: 6px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
}

hr {
    color: #efb639;
    border-width: 1.5px;
    border-style: solid;
}
