body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background: white;
}

#nav-menu {
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-top: 12px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 25px;
    color: #000;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    text-align: center;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}
#nav-menu a:hover {
    /* color: #efcc82; */

    color: #efb639;
}
#nav-menu a img {
    width: 40px;
    margin-top: -5px;
    padding-left: 15px;
    padding-right: 12px;
    vertical-align: text-top;
}
#nav-menu #ic_food {
    padding-right: 3px;
}
#nav-menu #ic_logo {
    width: 55px;
}
/* #nav-menu #nav_logo { */
/*     float: left; */
/*     margin-left: 12px; */
/*     margin-right: 5px; */
/* } */
