body {
    font-family: 'Lato', sans-serif;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/gateway-of-india.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    z-index: -2;
}

#bg-tint {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(225, 218, 197);
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    z-index: -1;
}

#nav-menu {
    position: fixed;
    right: 20px;
    top: 10px;
    margin: 0;
    text-align: right;
    list-style-type: none;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#logo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    margin-top: -30px;
}

#locations {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    list-style-type: none;
    font-size: 20px;
}
#locations li {
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    color: white;
}
#locations a {
    font-weight: bold;
    font-size: larger;
}
#locations img {
    width: 20px;
    display: block;
    margin-left: -30px;
    margin-bottom: -32px;
}
