body {
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Muli', sans-serif;
    background: white;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/tabla.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: -2;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

#bg-tint {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #4d4d4d;
    opacity: 0.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    z-index: -1;
}

#locations {
    position: fixed;
    right: 20px;
    top: 10px;
    margin: 0;
    text-align: right;
    list-style-type: none;
    font-size: 24px;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    color: #fff;
}
#locations li {
    margin-bottom: 20px;
    font-weight: bold;
}
#locations a {
    text-decoration: none;
    font-weight: normal;
}
#locations img {
    width: 20px;
    margin-bottom: -5px;
    font-weight: bold;
}

#logo {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 42%;
    margin-top: -30px;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

#nav-menu {
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-top: 12px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 32px;
    color: #000;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    text-align: right;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}
#nav-menu a:hover {
    color: #efcc82;
}
#nav-menu a img {
    width: 45px;
    margin-top: -5px;
    padding-left: 15px;
    padding-right: 12px;
    vertical-align: text-top;
}
#nav-menu #ic_food {
    padding-right: 3px;
}
#nav-menu #ic_food:hover {
    padding-right: 3px;
}
